.password {
    width: 222px;
    background: #fff;
    position: relative;
    padding: 16px 0 5px 0;
    border-radius: 6px;
  }
  .password input {
    width: 100%;
    border: 0;
    outline: none;
    line-height: 20px;
    font-size: 16px;
    padding: 9px 40px 0 16px;
    font-family: inherit;
    background: none;
    color: #151924;
  }
  .password input:valid + label, .password input:focus + label {
    -webkit-transform: translate(0, -4px) scale(0.72);
            transform: translate(0, -4px) scale(0.72);
  }
  .password input:valid + label + .unlock, .password input:focus + label + .unlock {
    opacity: 1;
  }
  .password label {
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 50%;
    line-height: 24px;
    font-size: 16px;
    margin: -12px 0 0 0;
    cursor: text;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    transition: all .3s ease;
  }
  .password .unlock {
    position: absolute;
    z-index: 2;
    stroke: none;
    fill: #3F4656;
    display: block;
    width: 12px;
    height: 16px;
    right: 16px;
    top: 50%;
    opacity: .2;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    transition: opacity .4s ease;
  }



  

  

 